{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/product_detail_page.css'%}"
/>

<!-- 코드 작성시, 아래 부분(endblock 이전)은 전체 삭제하고 작성하세요 -->

<!----------------tip!---------------->
<!-- 상품 데이터베이스는 프로젝트에 넣어뒀어요 -->
<!-- 아래와 같은 형식으로 사용하세요 -->

<!-- 데이터 사용 예시 -->
<!-- <img src="{{product.image_url}}" style="width: 100px" />
<p>{{product.name}}</p>
<p>{{product.discount_rate}}%</p>
<p>{{product.discount_price}} 원</p>
<p>{{product.notice}}</p> -->
<!-- 데이터 사용 예시 -->

<div class="container2">
  <div class="body2">
    <div>
      <div class="rectangle2">
        <img src="{{product.image_url}}" style="width: 100%" />
      </div>
      <div class="frame31">
        <div class="frame38">
          <div>샛별배송</div>
          <div>{{product.name}}</div>
          <div class="frame32">
            <div>{{product.discount_rate}}%</div>
            <div class="discount_price">{{product.discount_price}} 원</div>
          </div>
          <p></p>
          <div class="frame34">
            <div>안내 사항</div>
            <div>{{product.notice}}</div>
          </div>
          <p></p>
          <div class="frame33">
            <div>상품 선택</div>
            <div class="frame33_1">
              <div>{{product.name}}</div>
              <div class="frame35">
                <div class="decrease">-</div>
                <div class="quantity">1</div>
                <div class="increase">+</div>
              </div>
            </div>
          </div>
          <p></p>

        </div>
        <div class="frame39">
          <div class="frame37">
            <div class="frame36">
              <div>총 상품 금액:</div>
              <div class="totalPrice">{{product.discount_price}}원</div>
            </div>
          </div>
          <div class="button">
            <div>로그인</div>
          </div>

        </div>
      <!-- frame39끝 -->
      </div>
    </div>
 


<!-- <img src="{{product.image_url}}" style="width: 100px" />
<p>{{product.name}}</p>
<p>{{product.discount_rate}}%</p>
<p>{{product.discount_price}} 원</p>
<p>{{product.notice}}</p> -->

<div class="review">
  <div>상품후기</div>

<form action="create_comment/" method="POST" id="form">
{% csrf_token %}
  <div>  
<select name="star">
  <option value="1">1점</option>
  <option value="2">2점</option>
  <option value="3">3점</option>
  <option value="4">4점</option>
  <option value="5">5점</option>
</select>
  </div>
  <div class="frame100">
  <textarea name="content" id="text" placeholder="후기를 남겨주세요"></textarea>
<button type="submit" id="submit" disabled>등록</button></div>
</form>




<script>

  
  document.getElementById('text').addEventListener("input",(event)=>{

    if(document.getElementById('text').value.length>0){
      document.getElementById('submit').disabled = false; 
      document.getElementById('submit').style.backgroundColor='#5e0080';
      document.getElementById('submit').style.color='white';
    }
    else{
      document.getElementById('submit').disabled = true; 
      document.getElementById('submit').style.color='#dddddd';
    }

  });

  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.delete-comment').forEach(button => {
      button.addEventListener('click', function(event) {
        event.preventDefault();
        const commentDiv = this.closest('.comment');
        commentDiv.remove();
      });
    });
  });
</script>




<div class="screen">
  
  <div
    style="
      width: 1050px;
      display: flex; 
      flex-direction: column;
      gap: 20px;
      padding: 20px 0px;
    "
  >
    {% for comment in comments %}
    <div class="comment"
      style="
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px 8px;
        border-bottom: solid 1px #d9d9d9;
      "
    >
      <div style="display: flex; justify-content: space-between">
        <p>평점:{{comment.star}}</p>
        <a href="{% url 'main:delete_comment' comment.id %}" class="delete-comment">삭제</a>
      </div>
      <p class="B1">{{comment.content}}</p>
    </div>
    {% endfor%}


  </div>
</div>

</div>
<script src="{% static 'js/main/product_detail_page.js'%}"></script>
{% endblock %}
